

.page {
    min-height: 400px;
    box-shadow: 0px 0px 6px 2px black;
    margin: 15px 0;
    padding: 15px;
}

.prod-wrap {
    box-shadow: 0 0px 4px 1px black;
    padding: 15px;
    text-align: center;
    margin: 12px 0;
}

.img-cart {
    max-width: 50px;
    margin-top: -15px;
}